<p id="notice"><%= notice %></p>

<h1>案件別稼働時間</h1>

<%= form_tag(tally_action_logs_path, method: "get") do %>
  <%= month_field_tag 'target_date', @year+'-'+@month %>
  <%= submit_tag '検索' %>
<% end %>

<h2><%= @year %>年<%= @month %>月の稼働実績だよ☆</h2>

<table class='table'>
  <thead>
    <tr>
      <th>案件名</th>
      <th>合計稼働時間</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.getTotalTime(@from, @to) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>