<!DOCTYPE html>
<html>
<head>
  <title>Ice</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<header>
	<% if user_signed_in? %>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to 'Ice', action_logs_path, :class => 'navbar-brand' %>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
								<li role="separator" class="divider"></li>
								<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<% end %>
	<div class="container-fluid">
		<% if user_signed_in? %>
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="<%= projects_path == url_for() ? 'active' : nil %>"><%= link_to '案件マスタ', projects_path %></li>
					<li class="<%= action_logs_path == url_for() ? 'active' : nil %>"><%= link_to '稼働ログ', action_logs_path %></li>
					<li class="<%= tally_action_logs_path == url_for() ? 'active' : nil %>"><%= link_to '案件別稼働時間', tally_action_logs_path %></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<%= yield %>
			</div>
		</div>
		<% else %>
			<div class="">
				<%= yield %>
			</div>
		<% end %>
	</div>
</body>
</html>
